:root{
    --carousel-idx: 0;
}


.photograph-header {
    background-color: #FAFAFA;
    margin: 0 100px;
    display: flex;
    flex-direction :column;
}

.photograph-header img{
    height: 20vh;
    object-fit: contain;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.photographer-gallery{
    display: flex;
    flex-wrap: wrap;
}

.photographer-image{
    min-width: 70vw;
}

.photographer-image img{
    height: 90vh;
    width: inherit;
    object-fit: contain;

}

.photographer-carousel{
    position: fixed;
    inset: 0;
    backdrop-filter: blur(5px);
    display: none;
}

.images-overview{
    width: 70vw;
    height: 90vw;
    overflow: hidden;
}

.images-container{
    height: 90vw;
    display: flex;
    transition: .5s transform ease-in-out;
    transform: translate(calc(var(--carousel-idx) * -70vw));
}

.images-container img{    
    width: 70vw;
    height: 90vw;
    object-fit: contain;
}