@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

/* colors */
/* font-family */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7.5rem;
}
.header .logo {
  height: 3.125rem;
}
.header h1 {
  font-size: 2.25rem;
  color: #901c1c;
}

#main-homepage {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 40rem;
}

.photographer-card {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.photographer-card .photographer-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.photographer-card .photographer-link .photographer-portrait {
  height: 12.5rem;
  width: 12.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-bottom: 1.75rem;
}
.photographer-card .photographer-link .photographer-name {
  color: #d3573c;
  font-size: 2.25rem;
}
.photographer-card .photographer-infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 0.25rem 0 1.75rem;
  line-height: 1.15rem;
}
.photographer-card .photographer-infos .photographer-place {
  font-size: 0.8rem;
  color: #d3573c;
}
.photographer-card .photographer-infos .photographer-tagline {
  font-size: 0.65rem;
  font-weight: bold;
}
.photographer-card .photographer-infos .photographer-price {
  font-size: 0.6rem;
  color: #525252;
}

:root {
  --carousel-idx: 0;
}

/* BANNER */
.photographer-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fafafa;
  padding: 3.5rem 3.15rem;
}
.photographer-banner .photographer-infos {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 12.5rem;
}
.photographer-banner .photographer-infos .photographer-name {
  color: #d3573c;
  font-size: 4rem;
}
.photographer-banner .photographer-infos .photographer-place {
  font-size: 1.5rem;
  color: #d3573c;
}
.photographer-banner .photographer-infos .photographer-tagline {
  font-size: 1.125rem;
}
.photographer-banner .display-modal-button {
  border: none;
  background: #901c1c;
  color: white;
  transition: background-color 0.125s ease-in-out;
  cursor: pointer;
  width: 10rem;
  aspect-ratio: 1/0.4;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
}
.photographer-banner .display-modal-button:hover {
  color: black;
  background: #d3573c;
}
.photographer-banner .photographer-portrait {
  height: 12.5rem;
  width: 12.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

/* FILTER */
.filter-container {
  margin: 1rem 0;
}
.filter-container * {
  font-size: 1.15rem;
}
.filter-container #filter {
  background: #901c1c;
  color: white;
}
.filter-container #filter > * {
  display: inline-block;
  color: red;
  border-top: 2px solid white;
}

/* GALLERY */
.photographer-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem 6rem;
  width: 100%;
}
.photographer-gallery .photographer-image,
.photographer-gallery .photographer-video {
  width: 100%;
  aspect-ratio: 1/0.86;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.photographer-gallery .photographer-image-infos {
  padding-top: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.photographer-gallery .photographer-image-infos * {
  font-size: 1.5rem;
  color: #901c1c;
}
.photographer-gallery .photographer-image-infos .photographer-image-likes-increase {
  background: inherit;
  border: none;
  cursor: pointer;
}

/* LIGHTBOX MODAL (carousel) */
.photographer-carousel {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.3333333333);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  height: 100vh;
  width: 100vw;
  display: none;
  place-content: center;
}
.photographer-carousel .media-container {
  height: 90vw;
  display: flex;
  align-items: center;
  transition: 0.5s transform ease-in-out;
  transform: translate(calc(var(--carousel-idx) * -70vw));
}
.photographer-carousel .media-container .photographer-media {
  width: 70vw;
  height: 80vw;
  -o-object-fit: contain;
     object-fit: contain;
}
.photographer-carousel .media-title {
  position: absolute;
  background: #fff;
  top: 90vh;
  left: 50%;
  transform: translateX(-50%);
}
.photographer-carousel .carousel-btn {
  position: absolute;
  color: #901c1c;
  font-size: 3rem;
  border: none;
  cursor: pointer;
  background: none;
}
.photographer-carousel .carousel-close {
  top: 10vh;
  right: 10vw;
}
.photographer-carousel .carousel-direction-btn {
  top: 50%;
  transform: translateY(-50%);
}
.photographer-carousel .carousel-prev {
  left: 10vw;
}
.photographer-carousel .carousel-next {
  right: 10vw;
}

/* NUMBERS (likes + price) */
.photographer-numbers {
  position: fixed;
  font-size: 1.5rem;
  white-space: nowrap;
  padding: 1.5rem 2rem;
  gap: 4rem;
  top: 100vh;
  left: 95vw;
  transform: translate(-100%, -100%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #d3573c;
  border-radius: 5px 5px 0 0;
}

#contact_modal {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.3333333333);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  height: 100vh;
  width: 100vw;
  display: none;
  place-content: center;
}

/* FORM MODAL */
.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  max-height: 100%;
  aspect-ratio: 5/3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312E2E;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

body {
  font-family: "DM Sans", sans-serif;
  padding: 2.5rem 6.25rem;
}/*# sourceMappingURL=style.css.map */