@mixin flex-center-between{    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-center-between-column{    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

@mixin flex-center-center-column{    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}