/* colors */

$bg-1: #901c1c;
$bg-2: #d3573c;
$bg-3: #fafafa;

$color-1: #d3573c;
$color-2: #525252;
$color-3: #901c1c;

/* font-family */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
$fontfam: 'DM Sans', sans-serif;