#main-homepage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1440px;
    height: 40rem;
    margin: 0 auto;
}

.photographer-card {
    margin-top: 1.5rem;
    @include flex-center-between-column;

    &:nth-child(3n - 2){
        justify-self: start;
    }

    &:nth-child(3n){
        justify-self: end;
    }

    .photographer-card-container{
        min-width: 17.5rem;
    }

    .photographer-link {

        @include flex-center-between-column;

        .photographer-portrait {
            @include portrait;
            margin-bottom: 1.75rem;
        }

        .photographer-name {
            color: $color-1;
            font-size: 2.25rem;
        }

    }

    .photographer-infos {
        @include flex-center-between-column;
        margin: .25rem 0 1.75rem;
        line-height: 1.15rem;

        .photographer-place {
            font-size: .8rem;
            color: $color-1;
        }

        .photographer-tagline {
            font-size: .85rem;
            font-weight: bold;
        }

        .photographer-price {
            font-size: .8rem;
            color: $color-2;
        }

    }
}