/* BANNER */

.photographer-banner {
    @include flex-center-between;
    background: $bg-3;
    padding: 3.5rem 3.15rem;

    .photographer-infos {

        @include flex-around-column;
        height: 12.5rem;

        .photographer-name {
            color: $color-1;
            font-size: 4rem;
        }

        .photographer-place {
            font-size: 1.5rem;
            color: $color-1;
        }

        .photographer-tagline {
            font-size: 1.125rem;
        }
    }

    .display-modal-button {
        border: none;
        background: $bg-1;
        color: white;
        transition: background-color .125s ease-in-out;
        cursor: pointer;
        width: 10rem;
        aspect-ratio: 1/0.4;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: bold;

        &:hover {
            color: black;
            background: $bg-2;
        }
    }

    .photographer-portrait {
        @include portrait;
    }
}

/* GALLERY */
.photographer-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem 6rem;
    width: 100%;

    .photographer-image,
    .photographer-video {
        cursor: pointer;
        width: 100%;
        aspect-ratio: 1/0.86;
        object-fit: cover;
        border-radius: 5px;
    }

    .photographer-image-infos {
        padding-top: .75rem;
        @include flex-center-between;

        * {
            font-size: 1.5rem;
            color: $color-3;
        }

        .photographer-image-likes-increase {
            background: inherit;
            border: none;
            cursor: pointer;
        }
    }
}

    /* NUMBERS (likes + price) */

    .photographer-numbers {
        position: fixed;
        font-size: 1.5rem;
        white-space: nowrap;
        padding: 1.5rem 2rem;
        gap: 4rem;
        top: 100vh;
        left: 95vw;
        transform: translate(-100%, -100%);
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: $bg-2;
        border-radius: 5px 5px 0 0;
    }

   