#contact_modal {
    position: fixed;
    top: 0;
    left: 0;
    background: #fffd;
    height: 100vh;
    width: 100vw;
    display: none;
    place-content: center;
}

.modal {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: #DB8876;
    min-width: 42rem;
    min-height: 95%;
    @include flex-around-column;
    padding: 2.5rem;
    gap: 1.5rem;
}

.modal header {
    width: 100%;

    h1 {
        font-size: 4rem;
    }

    .display-modal-button {
        cursor: pointer;
        position: absolute;
        top: 1rem;
        right: 1rem;
        background: #DB8876;
        border: none;
        color: white;
        font-size: 2.5rem;
    }
}

.contact-form {
    width: 100%;
    @include flex-around-column;
    gap: .5rem;

    .modal-label {
        color: #312E2E;
        font-size: 2.25rem;
    }

    .modal-input {
        width: calc(100% - 1rem);
        height: 4rem;
        font-size: 2rem;
        padding-left: 1rem;
        border: none;
        border-radius: 5px;
    }

    .modal-message-content {
        border: none;
        border-radius: 5px;
        height: 10rem;
        font-size: 2rem;
    }

    button{
        padding: 1rem;
        background: $bg-1;
        border: none;
        cursor: pointer;
        color: white;
        font-size: 1.125rem;
        width: 10rem;
        border-radius: 5px;
        margin-top: 1rem;
    }
}


//error message when the form is 
.hidden {
    display: none;
}